<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1 class="display-3">Greetings, job applicant!</h1>
      <p class="lead">We are looking for a multitude of highly skilled entertainment workers with the dream of working in an amusement park</p>
      <hr class="my-4">
      <p>Don't hesitate since tomorrow, the opportunity may well be gone!</p>
      <p class="lead">
        <a class="btn btn-success btn-lg btn-block" role="button">Apply NOW!</a>
      </p>
    </div>
  </div>
</div>